<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Flag_of_Toronto%2C_Canada.svg/200px-Flag_of_Toronto%2C_Canada.svg.png">

In [44]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

res = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))[0]
Postcode = df["Postcode"].tolist()
Borough = df["Borough"].tolist()
Neighbourhood = df["Neighbourhood"].tolist()

In [45]:
df.shape

(287, 3)

In [46]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [21]:
df.tail()

    Postcode       Borough          Neighbourhood
282      M8Z     Etobicoke              Mimico NW
283      M8Z     Etobicoke     The Queensway West
284      M8Z     Etobicoke  Royal York South West
285      M8Z     Etobicoke         South of Bloor
286      M9Z  Not assigned           Not assigned

In [47]:
#Clean (Drop) column "Not assigned" 
df.drop(df.index[df['Borough'] == 'Not assigned'], inplace = True)
df = df.reset_index(drop=True)

In [48]:
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

In [49]:
df.tail()

    Postcode    Borough             Neighbourhood
205      M8Z  Etobicoke  Kingsway Park South West
206      M8Z  Etobicoke                 Mimico NW
207      M8Z  Etobicoke        The Queensway West
208      M8Z  Etobicoke     Royal York South West
209      M8Z  Etobicoke            South of Bloor

In [50]:
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(','.join).reset_index()

In [51]:
df.columns = ['Postcode','Borough','Neighbourhood']

In [52]:
df.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [53]:
df.tail()

    Postcode    Borough                                      Neighbourhood
98       M9N       York                                             Weston
99       M9P  Etobicoke                                          Westmount
100      M9R  Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V  Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W  Etobicoke                                          Northwest

In [55]:
df.shape

(103, 3)

In [80]:

df.to_csv('codeTorontoPostal.csv')
print('Dataset correct!!')

Dataset correct!!