<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Flag_of_Toronto%2C_Canada.svg/200px-Flag_of_Toronto%2C_Canada.svg.png">

<b>Toronto</b>, the capital of the province of Ontario, is an important city of Canada located along the northwest shore of Lake Ontario. It is a dynamic metropolis with a tall skyscraper center, all surpassed by the iconic CN Tower. Toronto also has many green areas, from the neat oval of Queen's Park to the 400-acre High Park and its trails, sports facilities and zoo.

Exercise:Extraction of geographical coordinates of the municipality of Toronto.
Data source : https://cocl.us/Geospatial_data

In [1]:
#Download of libraries needed to complete the exercise.
import pandas as pd
import requests

import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner

data = "http://cocl.us/Geospatial_data"
df = pd.read_csv(data)

df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

<b>The dataset describes the geographical location (coordinates) in relation to the postal code. For the purposes of this work, they are relevant when they join the dataset that was generated in the previous exercise(codeTorontoPostal.csv)<b>

In [2]:
#This function returns the first n rows for the object based on position. 
#The data frame consists of three columns: Postal Code, Municipality and Neighborhood
df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [3]:
#This function returns last n rows from the object based on position
df.tail()

    Postal Code   Latitude  Longitude
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

In [4]:
#Return a tuple representing the dimensionality of the DataFrame.(Initial DataFrame Exercise)
df.shape

(103, 3)

In [5]:
df.columns = ['Postcode','Latitude','Longitude']
df.columns

Index(['Postcode', 'Latitude', 'Longitude'], dtype='object')

In [6]:
codeTP= "codeTorontoPostal.csv"  
df0 = pd.read_csv(codeTP,index_col=0)
df0.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [8]:
#Merge dataset codeTorontoPostal.csv//Geospatial_data
df0_Geo = pd.merge(df0, df, on='Postcode')
df0_Geo.head(103)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village,Martin Grove Gardens,Richvie...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens,Beaumond Heights,Humbergate,Jam...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054

In [9]:
#Load a CSV file into a DataFrame
df0_Geo.to_csv('geocoderCodeToronto.csv')
print('Dataset correct!!')

Dataset correct!!