<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Flag_of_Toronto%2C_Canada.svg/200px-Flag_of_Toronto%2C_Canada.svg.png">

<b>Toronto</b>, the capital of the province of Ontario, is an important city of Canada located along the northwest shore of Lake Ontario. It is a dynamic metropolis with a tall skyscraper center, all surpassed by the iconic CN Tower. Toronto also has many green areas, from the neat oval of Queen's Park to the 400-acre High Park and its trails, sports facilities and zoo.

In [1]:
#Download of libraries needed to complete the exercise.
import pandas as pd
import requests
from bs4 import BeautifulSoup

res = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))[0]
Postcode = df["Postcode"].tolist()
Borough = df["Borough"].tolist()
Neighbourhood = df["Neighbourhood"].tolist()

In [2]:
#Return a tuple representing the dimensionality of the DataFrame.(Initial DataFrame Exercise)
df.shape

(287, 3)

In [8]:
#This function returns the first n rows for the object based on position. 
#The data frame consists of three columns: Postal Code, Municipality and Neighborhood
df.head()

  Postcode       Borough                         Neighbourhood
0      M1A  Not assigned                          Not assigned
1      M1B   Scarborough                         Rouge,Malvern
2      M1C   Scarborough  Highland Creek,Rouge Hill,Port Union
3      M1E   Scarborough       Guildwood,Morningside,West Hill
4      M1G   Scarborough                                Woburn

In [9]:
#This function returns last n rows from the object based on position
df.tail()

    Postcode       Borough                                      Neighbourhood
175      M9V     Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
176      M9W     Etobicoke                                          Northwest
177      M9X  Not assigned                                       Not assigned
178      M9Y  Not assigned                                       Not assigned
179      M9Z  Not assigned                                       Not assigned

In [10]:
#Clean (Drop) column "Not assigned" 
#Only processes cells that have an assigned district. Ignore the cells with a municipality that is not assigned.
df.drop(df.index[df['Borough'] == 'Not assigned'], inplace = True)
df = df.reset_index(drop=True)

In [11]:
#Clean Data Set
df.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [12]:
df.tail()

    Postcode    Borough                                      Neighbourhood
98       M9N       York                                             Weston
99       M9P  Etobicoke                                          Westmount
100      M9R  Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V  Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W  Etobicoke                                          Northwest

In [13]:
#A groupby operation involves some combination of splitting the object, applying a function, and combining the results. 
#Combination of rows joining zip code by neighborhood.
df=df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(','.join).reset_index()

In [14]:
df.columns = ['Postcode','Borough','Neighbourhood']

In [15]:
df.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [16]:
df.tail()

    Postcode    Borough                                      Neighbourhood
98       M9N       York                                             Weston
99       M9P  Etobicoke                                          Westmount
100      M9R  Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V  Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W  Etobicoke                                          Northwest

In [17]:
##Return a tuple representing the dimensionality of the DataFrame.(Final DataFrame Exercise)
df.shape

(103, 3)

In [18]:
#Load a CSV file into a DataFrame
df.to_csv('codeTorontoPostal.csv')
print('Dataset correct!!')

Dataset correct!!